 @model System.Collections.Generic.List<DevCard_MVC.Models.project>

<div class="container">
	<h2 class="section-title font-weight-bold mb-5">خاص ترین پروژه ها</h2>
	<div class="row">
		@foreach (var item in Model)
        {
            <div class="col-md-6 mb-5">
                <div class="card project-card">
                    <div class="row no-gutters">
                        <div class="col-lg-4 card-img-holder">
                            <img src="~/assets/images/project/@item.Image" class="card-img" alt="image">
                        </div>
                        <div class="col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="project.html" class="theme-link">
                                        @item.Name
                                      
                                    </a>
                                </h5>
                                <p class="card-text">
                                   @item.Description
                                </p>
                                <p class="card-text"><small class="text-muted">Client: @item.Client</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
		
	</div>
</div>

